{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger ">
            {{ error.messageKey | trans( error.messageData, 'security') }}
        </div>
    {% endif %}


    <form class="form-signin" action="{{ path('login') }}" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="https://placeimg.com/72/72/any" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Bienvenue</h1>
        </div>
        <div class="form-label-group">
          <label for="username">Nom d'utilisateur</label>
          <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required autofocus>
        </div>
        <div class="form-label-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="_password" class="form-control" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
    </form>

{% endblock %}
