{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}

    <div>
        {{ form_start(form) }}

        <div class="alert alert-danger"></div>
            {{ form_errors(form.content) }}


        {{ form_end(form) }}
{% endblock %}
